<div [ngClass]="setMainContentClasses()">
<!--  <div *ngIf="appUser.userLevel>0 && golferComponentVisible"-->
  <div *ngIf="appUser.userLevel>0"
       id="user-info">{{ appUser.firstName }} {{ appUser.middleInitial }} {{ appUser.lastName }} |
    H.I. {{ appUser.handicapIndex }}</div>
  <!--  <div *ngIf="appUser.userLevel>0" id="user-info">Test User | H.I. 14.2</div>-->
  <!--  <app-user *ngIf="!loginComponentVisible"></app-user>-->
  <app-main-menu [ngClass]="setMainMenuClasses()"></app-main-menu>
  <main id="main-route-outlet" [@routeAnimations]="prepareRouteTransition(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>  <!--  <router-outlet name="main-content"></router-outlet>-->
  <!--  <app-home *ngIf="homeComponentVisible" [ngClass]="setHomeClasses()"></app-home>-->
  <!--  <app-golfer-section *ngIf="golferComponentVisible" [ngClass]="setGolferClasses()"></app-golfer-section>-->
  <!--  <app-club-admin *ngIf="clubAdminComponentVisible" [ngClass]="setClubAdminClasses()"></app-club-admin>-->
  <!--  <app-admin *ngIf="adminComponentVisible" [ngClass]="setAdminClasses()"></app-admin>-->
  <!--  <app-about *ngIf="aboutComponentVisible" [ngClass]="setAboutClasses()"></app-about>-->
  <!--  <app-free-trial *ngIf="freeTrialComponentVisible" [ngClass]="setAboutClasses()"></app-free-trial> -->
  <!--  <app-register-free-user *ngIf="registerFreeUserComponentVisible"-->
  <!--                          [ngClass]="setProfileClasses()"></app-register-free-user>-->
  <!--  <app-pin-form *ngIf="pinFormComponentVisible" [ngClass]="setAboutClasses()"></app-pin-form>-->
  <!--  <app-pin-form *ngIf="freeUserPinFormComponentVisible" [ngClass]="setAboutClasses()"></app-pin-form>-->
  <div class="social-media">
    <div class="social-media-icon">
      <a target="_blank" href="https://www.facebook.com/GrenTeeinfo-107865240673295">
        <!--        <img class="default" alt="fb" src="./assets/facebook_f.png" type="social" style="height: 100%">-->
        <img class="default" alt="fb" src="https://greentee.info/img/facebook_f.png" type="social" style="height: 100%">
      </a>
    </div>
    <!--    <div class="social-media-icon">-->
    <!--      <a target="_blank" href="https://www.facebook.com/GrenTeeinfo-107865240673295">-->
    <!--        <img alt="fb" src="./assets/twitter_twitter.png" type="social"-->
    <!--             style="height: 100%;">-->
    <!--      </a>-->
    <!--    </div>-->
    <div class="social-media-icon">
      <a target="_blank" href="https://www.linkedin.com/company/greentee-info">
        <img alt="fb" src="https://greentee.info/img/linkedin_in.png" type="social" style="height: 100%">
      </a>
    </div>
    <!--    <div id="privacy-policy-div">-->
    <!--      &lt;!&ndash;    <a href="https://greentee.info/privacy-policy">Privacy Policy</a>&ndash;&gt;-->
    <!--      <button class="common-button" routerLink="privacy-policy" routerLinkActive="active"-->
    <!--              (click)="showPrivacyPolicyComponent()">Privacy Policy-->
    <!--      </button>-->
    <!--    </div>-->
  </div>
</div>
