<div [ngClass]="setScoringRecordContainerClass()">
  <button (click)="toggleDetailVisible()" [ngClass]="setDetailActuatorClass()">
    Two Lowest Eligible T-Scores
    <div *ngIf="!detailVisible" [ngClass]="setTriangleDownClass()"></div>
    <div *ngIf="detailVisible" [ngClass]="setTriangleUpClass()"></div>
  </button>
  <div *ngIf="detailVisible" [ngClass]="setContainerContainerClass()">
    <div [ngClass]="setScoreTableContainerClass()">
      <app-score [scores]="scores"></app-score>
    </div>
  </div>
</div>
