<section [ngClass]="setForgotPasswordContainerClasses()">
  <form autocomplete="off" [ngClass]="setForgotPasswordFormClasses()">
    <p style="text-align:center; font-size: x-large">Password Reset</p>
    <div class="profile-form-div">
      <button [ngClass]="setForgotPasswordButtonClasses()" type="button" routerLink="../password-reset-email">Use email</button>
    </div>
    <div *ngIf="false" class="profile-form-div">
      <button [ngClass]="setForgotPasswordButtonClasses()" type="button" (click)="showPasswordResetPhoneComponent()">Use phone w/ txt</button>
    </div>
    <div class="profile-form-div">
      <button [ngClass]="setForgotPasswordButtonClasses()" type="button" routerLink="../login">Cancel</button>
    </div>
  </form>
</section>
