<section [ngClass]="setForgotPasswordContainerClasses()">
  <form autocomplete="off" [ngClass]="setForgotPasswordFormClasses()">
    <p style="text-align:center; font-size: x-large">Password Reset</p>
    <div class="profile-form-div">
      <button type="button" (click)="showPasswordResetEmailComponent()">Use email</button>
    </div>
    <div *ngIf="false" class="profile-form-div">
      <button type="button" (click)="showPasswordResetPhoneComponent()">Use phone w/ txt</button>
    </div>
    <div class="profile-form-div">
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</section>
