<div [ngClass]="setScoringComponentClasses()" style="padding-bottom: 90px;">
  <div class="responsive-title">Scoring</div>
  <div *ngIf="appUser.userLevel>0"
       id="responsive-user-info">{{ appUser.firstName }} {{ appUser.middleInitial }} {{ appUser.lastName }} |
    H.I. {{ appUser.handicapIndex }}
  </div>
  <div [ngClass]="setDetailContainerClasses()">
    <div [ngClass]="setDetailActuateClasses()">
      <app-post-score [ngClass]="setPostScoreClasses()"></app-post-score>
    </div>
    <div [ngClass]="setDetailActuateClasses()">
      <app-latest-rev-scoring-record [aGolfer]="appUser"></app-latest-rev-scoring-record>
    </div>
    <div [ngClass]="setDetailActuateClasses()">
      <app-current-scoring-record [aGolfer]="appUser"></app-current-scoring-record>
    </div>
  </div>
</div>
