<div [ngClass]="setScoringComponentClasses()" style="padding-bottom: 0px;">
  <div [ngClass]="setDetailContainerClasses()">
    <div [ngClass]="setDetailActuateClasses()">
      <app-post-score [ngClass]="setPostScoreClasses()"></app-post-score>
    </div>
    <div [ngClass]="setDetailActuateClasses()">
      <app-latest-rev-scoring-record [aGolfer]="appUser"></app-latest-rev-scoring-record>
    </div>
    <div [ngClass]="setDetailActuateClasses()">
      <app-current-scoring-record [aGolfer]="appUser"></app-current-scoring-record>
    </div>
  </div>
</div>
