.even_row {
  /*background-color: green;*/
}

.odd_row {
  background-color:  var(--common-inactive-bg-color);;
  color: var(--common-inactive-color);;
}

.detail-container-container {
  /*padding: 0px;*/
}

.score-table {
  margin: 0px auto;
  border: 1px solid var(--common-border-color);
  font-size: 8pt;
  width: 100%;
}

.score-table-container {
  padding: 0 5px;
}

.score-table td, .score-table th {
  text-align: center;
  vertical-align: bottom;
}

.score-table td {
  padding: 1px 10px;
}

.score-table th {
  padding: 5px 3px;
  font-weight: normal;
}

.scoring-record-container {
  padding: 5px 0px 0px 0px;
  display: inline-block;
  width: 100%;
}

.scoring-record {
  border: 1px solid var(--common-border-color);
  margin: 3px 0;
  width: 100%;
  /*margin: 3px 0;*/
  /*padding: 1px 3px;*/
}

/*.triangle-down {*/
/*  margin-top: 6px;*/
/*  border-top: 8px solid white;*/
/*}*/

/*.triangle-up {*/
/*  margin-top: 6px;*/
/*  border-top: 8px solid white;*/
/*}*/

@media screen and (max-width: 757px) {
  .toggle-scoring-record {
    float: none;
    background-color: #e0ebe1;
    border: 1px solid #e0ebe1;
  }
}
