<div [ngClass]="setContainerContainerClass()">
  <div [ngClass]="setDetailContainerClasses()">
    <form [ngClass]="setProfileClasses()" autocomplete="off">
      <div style="display: block; width: 95px; margin: auto;">
        <div style="display: inline">
          <!-- <input type="text" maxlength="50" name="free_trial_pin" [(ngModel)]="freeTrialUser.firstName" placeholder="Free Trial Pin">
          -->
          <input class="form-largest" style="height: auto; font-size: 30px" type="text" placeholder="Code" name="pin" [(ngModel)]="pin"
                 autocomplete="off" autofocus="autofocus">
        </div>
      </div>
      <div class="profile-form-div">
        <!--        <button type="button" (click)="confirmPin()" title="" routerLink="../home">Confirm Code</button>-->
        <button [ngClass]="setPinFormButtonClasses()" type="button" (click)="confirmPin()" title="">Confirm Code</button>
      </div>
      <div class="profile-form-div">
        <button [ngClass]="setPinFormButtonClasses()" type="button" routerLink="../login">Cancel</button>
      </div>
    </form>
  </div>
</div>
