<div id="about" [ngClass]="setContainerContainerClass()">
    <div [ngClass]="setDetailClasses()">
        <p>
            GreenTee.info is a  States Golf Association (USGA) Golf Handicap Index calculation system designed to the exact requirements of the USGA Handicap System.
        </p>
        <p>
            GreenTee.info differs from other calculation services in that it is targeted for use at USGA valid Type 1 golf clubs and organizations. The web application interfaces with proprietary web services. These web services perform the functions of the calculation system and can be made available directly to Type 1 golf clubs or other industry stake holders (e.g. Callaway Golf or a small company trying to get off the ground) to provide value added service to their clients. Front-end customization (i.e. Making the web site look completely different) is easy and can be provided. In addition, the web services can be employed by your existing branded web presence (e.g. web site or mobile app).
        </p>
        <p>
            Please contact us to find out how we can start servicing your club, organization or company today.
        </p>
    </div>
</div>
