#about .detail-container {
    background-color: white;
    padding: 20px;
}

#about.container-container {
    padding: 4px;
    background-color: rgba(187, 226, 190, 1);
}

#about p {
    margin: 8px;
    font-size: 100%;
}
