.app-header {
  font-size: 200%;
  margin: 7px auto;
  background-color: slategrey;
  min-width: 456px;
}

#logo {
  display: inline-block;
  margin-left: 5px;
  background-color: transparent;
}

.span1-logo {
  color: white;
}

.span2-logo {
  color: green;
  border-radius: 35px 0px;
  padding: 10px;
  height: 35px;
  background-color: rgba(187, 255, 190, 1);
}

.span3-logo {
  font-size: 15px;
  color: white;
}

.user-not-logged-in {
  margin-bottom: 30px;
}

@media screen and (max-width: 757px) {
  #header-section {
    width: 100%;
    min-width: 0;
    margin-top: 5px;
    display: none;
  }

  .app-header {
    width: 100%;
    min-width: 0px;
  }

  .hide-header {
    display: none;
  }
}
