<section [ngClass]="setResetPasswordEmailContainerClasses()">
  <form autocomplete="off" [ngClass]="setResetPasswordEmailFormClasses()" (ngSubmit)="initializePasswordReset()">
    <input class="form-largest" type="email" placeholder="Enter the email address you registered with."
           name="email" [(ngModel)]="email" autocomplete="off" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
           #email_v="ngModel" (keyup)="emailKeypress()">
    <!--    <div *ngIf="email_v.invalid && (email_v.dirty || email_v.touched)"-->
    <!--         class="alert alert-danger">-->

    <div *ngIf="email_v.invalid" class="profile-form-div">
      <button *ngIf="email_v.errors.required" class="alert alert-danger" disabled>
        Email is required.
      </button>
      <button *ngIf="email_v.errors.pattern && !email_v.errors.required" class="alert alert-danger" disabled>
        Must be in email format.
      </button>
      <!--      <div *ngIf="email_v.errors.minlength">-->
      <!--        Must be at least 4 characters long.-->
      <!--      </div>-->
      <!--      <div *ngIf="email_v.errors.forbiddenName">-->
      <!--        Name cannot be Bob.-->
      <!--      </div>-->

    </div>
    <div *ngIf="email_v.valid" class="profile-form-div">
      <!--      <button type="button" (click)="initializePasswordReset()">Begin Password Reset</button>-->
      <button type="submit">Begin Password Reset</button>
    </div>
    <div class="profile-form-div">
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
    <div *ngIf="message_fail" class="profile-form-div alert alert-danger">
      Cannot continue with email submitted.
    </div>
  </form>
</section>
