<section [ngClass]="setResetPasswordEmailContainerClasses()">
    <form autocomplete="off" [ngClass]="setResetPasswordEmailFormClasses()">
        <input id="reset_password_email" type="email" class="ghi_login_input" placeholder="Enter the email address you registered with." name="email" value="" autocomplete="off">
        <input name="type" type="hidden" value="email">
        <button type="button" onclick="initializeResetPassword(event)">Begin Password Reset</button>
        <button type="button" (click)="cancel()">Cancel</button> 
    </form>
</section>
