.ng-valid[required], .ng-valid.required {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border: 2px solid #a94442; /* red */
}

.alert {
  padding: 3px 0px 3px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  border-color: #a94442;
  background-color: white;
}

.profile-form {
  margin: 0px 5px;
}
