div.user > * {
  vertical-align: middle;
}

div.login-user {
  margin-bottom: 7px;
}

.user {
  float: right;
  /*background-color: rgba(187, 226, 190, 1);*/
}

#user-info {
  /*display: inline-block;*/
  display: block;
  margin: 0px 5px;
  font-size: 50%;
}

.login-button {
  font-size: 10pt;
  width: 100px;
  margin-right: 6px;
}
