div.user > * {
  vertical-align: middle;
}

div.login-user {
  margin-bottom: 7px;
}

.user {
  float: right;
  display: inline-block;
}

@media screen and (max-width: 757px) {
  .user{
    display: none;
  }
}

#user-info {
  /*display: inline-block;*/
  display: block;
  margin: 0px 5px;
  font-size: 50%;
  float: right;
}

.login-button {
  font-size: 10pt;
  width: 100px;
  margin-right: 6px;
}
