.user button {
    background-color: rgba(247, 248, 224, 1);
    border: 1px solid rgba(247, 248, 224, 1);
    padding: 3px 20px;
    margin-left: 5px;
}

.user button:hover {
    border: 1px solid rgba(127, 166, 130, 1);
}

div.user {
    padding: 4px;
}

div.user > * {
    vertical-align: middle;
}

div.login-user {
    margin-bottom: 7px;
}

.user {
    background-color: rgba(187, 226, 190, 1);
}

#user-info {
    display: inline-block;
    margin: 0px 5px;
}
