<button (click)="toggleCurrentScoringRecordDetailVisible()" [ngClass]="setDetailActuatorClass()">
  Current Scoring Records
  <div *ngIf="!currentScoringRecordDetailVisible" class="triangle-down"></div>
  <div *ngIf="currentScoringRecordDetailVisible" class="triangle-up"></div>
</button>
<div *ngIf="currentScoringRecordDetailVisible" [ngClass]="setContainerContainerClass()">
  <div [ngClass]="setScoreTableContainerClass()">
    <app-score [scores]="aGolfer.currentScoringRecord"></app-score>
  </div>
</div>
