<button (click)="toggleCurrentScoringRecordDetailVisible()" [ngClass]="setDetailActuatorClass()">
  Current Scoring Record
  <div *ngIf="!currentScoringRecordDetailVisible" [ngClass]="setTriangleDownClass()"></div>
  <div *ngIf="currentScoringRecordDetailVisible" [ngClass]="setTriangleDownClass()"></div>
</button>
<div *ngIf="currentScoringRecordDetailVisible" [ngClass]="setContainerContainerClass()">
  <div [ngClass]="setScoreTableContainerClass()">
    <app-score [scores]="aGolfer.currentScoringRecord"></app-score>
  </div>
</div>
