.alert {
  background-color: transparent;
  height: 25px;
  padding: 0px 0px 0px 15px;
  border: none;
}

.alert-danger {
  color: white;
  border-color: #ebccd1;
}

.valid {
  height: 25px;
  padding: 0px 0px 0px 15px;
  color: green;
}

.profile-form-div > label {
  display: block;
  width: 270px;
  height: 30px;
  margin: auto;
  font-size: 20px;
  font-weight: lighter;
}

.form-largest[name=email] {
  margin-top: 10px;
}

p{
  margin: 35px 10px;
}

p.alert, p.valid {
  margin: 0px;
}

@media screen and (max-width: 757px) {

  p {
    margin: 0 10px 15px;
  }

  .detail-container {
    padding-top: 30px;
  }

}
