.alert {
  background-color: white;
  height: 25px;
  padding: 0px 0px 0px 15px;
  border: none;
}

.alert-danger {
  color: #a94442;
  border-color: #ebccd1;
}

.valid {
  height: 25px;
  padding: 0px 0px 0px 15px;
  color: green;
}

.profile-form-div > label {
  display: block;
  width: 270px;
  height: 30px;
  margin: auto;
  font-size: 20px;
  font-weight: lighter;
}
