:host {
  /*--common-active-bg-color: #ccc;*/
  /*--common-active-color: maroon;*/
  /*--common-active-border-color: khaki;*/
  /*--common-inactive-bg-color: white;*/
  /*--common-inactive-color: black;*/
  /*--common-inactive-border-color: --common-inactive-bg-color;*/
  /*--common-inactive-bg-color: #ccc;*/
  --common-inactive-bg-color: ivory;
  --common-inactive-color: maroon;
  --common-inactive-border-color: khaki;
  /*--common-active-bg-color: white;*/
  --common-active-bg-color: #ccc;
  --common-active-color: black;
  --common-active-border-color: --common-inactive-bg-color;
  --common-border-size: 5px;
  --common-border-style: solid;
  --common-border-color: maroon;
  --common-button-border: --common-border-size --common-border-style --common-active-border-color;
  --common-button-border: 1px solid #ccc;
  --common-div-border: none;
  --common-border-radius: 0px;
  --common-opacity: 1;
  --common-button-opacity: 1;
  --common-div-opacity: 1;
  --button-hover-border: --common-border-size solid --common-active-bg-color;
  /*--menu-button-radius: 8px 8px 0 0;*/
  --menu-button-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  /*outline: none;*/
}

.appContainer {
  max-width: 60%;
  min-width: 0px;
  margin: 0px auto;
  /*position: fixed;*/
  height: 100%;
}

div.dark-mode {
  background-color: black;
}

input.dark-mode {
  background-color: darkgreen;
}

div.light-mode {
  background-color: white;
}

input.light-mode {
  background-color: white;
}

div.active {
  display: inline-block;
  margin: 0;
  padding: 7px;
  /*background-color: var(--common-active-bg-color);*/
  /*color: var(--common-active-color);*/
  border: var(--common-div-border);
  border-radius: var(--common-border-radius);
  opacity: var(--common-div-opacity);
}

.common-button {
  background-color: transparent;
  /*color: var(--common-inactive-color);*/
  border: var(--common-button-border);
  border-radius: var(--common-border-radius);
  margin: 0 2px;
  opacity: var(--common-button-opacity);
  outline: none;
}

.common-button.light-mode {
  background-color: var(--common-inactive-bg-color);
  color: var(--common-inactive-color);
  border: var(--common-button-border);
  border-radius: var(--common-border-radius);
  margin: 0 2px;
  opacity: var(--common-button-opacity);
  outline: none;
}

.dark-mode.common-button {
  background-color: var(--common-inactive-bg-color);
  background-color: var(--common-inactive-color);
  color: var(--common-inactive-color);
  color: var(--common-inactive-bg-color);
  border: var(--common-button-border);
  border-radius: var(--common-border-radius);
  margin: 0 2px;
  opacity: var(--common-button-opacity);
  outline: none;
}

.common-button.active {
  background-color: var(--common-active-bg-color);
  color: var(--common-active-color);
  border: var(--common-button-border);
  /*border: 1px solid maroon;*/
  opacity: var(--common-opacity);
}

.common-button:hover {
  background-color: var(--common-active-bg-color);
  color: var(--common-active-color);
  border: var(--button-hover-border);
  opacity: var(--common-button-opacity);
}

form .common-button:hover {
  border: 1px solid var(--common-active-color);
}

.form-largest {
  width: 100%;
  padding-left: 12px;
  height: 35px;
  border: 1px solid #bbb;
}

.detail-actuator {
  width: 100%;
  border: none;
  /*background-color: var(--common-inactive-bg-color);*/
  background-color: transparent;
  color: var(--common-inactive-color);
  outline: none;
  height: 35px;
}

.detail-actuator.active {
  /*background-color: var(--common-active-bg-color);*/
}

label {
  font-weight: 500;
}

.app-container {
  position: relative;
  width: 100%;
}

.main-container {
  width: 50%;
  margin: auto;
}

.gt-main-container {
  width: 50%;
  margin: auto;
}

.gt-main-content-container {
  /*min-width: 456px;*/
  max-width: 600px;
  margin: auto;
}

.detail-container-container {
  /*display: block;*/
  /*clear: both;*/
  /*!*background-color: rgba(127, 166, 130, 1);*!*/
  /*padding: 0px 1px 1px;*/
  margin: 3px 0;
}

.detail-container {
  /*background-color: white;*/
  padding: 4px;
  display: inline-block;
  width: 100%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.scoring-group-component .container-container {
  background-color: red;
}

.container-container fieldset {
  border: none;
  /*background-color: var(--common-inactive-bg-color);*/
}

.post-score .container-container {
  border-color: #f2f5a9;
}

fieldset.profile-detail {
  padding: 10px 10px 0px;
}

.profile-detail label {
  width: 4em;
  padding-top: 3px;
}

.profile-affiliations-detail input {
  width: 100%;
}

.profile-affiliations-detail div {
  /*background-color: white;*/
  padding: 3px;
}

.profile-affiliations-detail div.even {
  padding-top: 0px;
  padding-bottom: 3px;
}

.profile-affiliations-detail p {
  padding: 3px 7px;
  /*background-color: #e0e0e0;*/
  border: 1px solid lightgray;
  margin: 3px;
}

.first-name {
  display: inline-block;
  width: 50%;
  padding-right: 2px;
}

.last-name {
  display: inline-block;
  width: 50%;
  padding-left: 2px;
}

.profile-form button.alert {
  background-color: white;
  border-color: #a94442;
}

.profile-form.dark-mode button:not(.detail-actuator) {
  color: white;
  border: 1px solid white;
}

.profile-form button:not(.detail-actuator) {
  margin: auto;
  width: 40%;
  height: 2.5em;
  display: block;
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

.profile-form-div {
  margin: 20px auto 0px;
  width: 100%;
  display: inline-block;
}

.profile-form-half-div {
  margin: 20px auto 0px;
  width: 50%;
  display: inline-block;
}

div.profile-form-half-div > button {
  width: 80%;
}

form ::placeholder {
  color: #888;
}

.responsive-title {
  display: none;
}

/*@media screen and (max-width: 600px) {*/
@media screen and (max-width: 757px) {

  .appContainer {
    max-width: 100%;
    width: 100%;
  }

  .detail-container {
    padding: 5px;
    display: inline-block;
    width: 100%;
  }

  .app-header {
    margin: 5px 0px 5px 0px;
    top: 0;
    position: fixed;
  }

  .gt-main-content-container {
    width: 100%;
    /*margin-top: 60px;*/
    /*min-width: 364px;*/
    /*position: absolute;*/
  }

  .responsive-title {
    display: block;
    font-size: 19pt;
    padding: 5px 0 0 15px;
  }

  .form-largest {
    font-size: 11pt;
    padding-left: 3px;
    background-color: transparent;
  }

  .dot-info-text {
    display: none;
  }

  .responsive-only {
    display: inline-block;
  }

  #back-arrow {
    padding-bottom: 75px;
  }

  .back-arrow {
    height: 37px;
    width: 20px;
    padding-bottom: 11px;
    margin-left: 15px;
  }

  .responsive-title {
    display: inline-block;
  }
}

.three_numbers_wide {
  max-width: 75px;
  width: 30%;
  font-size: 20px;
  padding-left: 20px;
}

.four_numbers_wide {
  max-width: 100px;
  width: 40%;
  font-size: 20px;
  padding-left: 20px;
}

fieldset.found-golfer > div {
  border: 1px solid #E6E6E6;
  margin-bottom: 1px;
}

fieldset.found-golfer div {
  padding: 2px;
}

fieldset.found-golfer div.even > div, fieldset.found-golfer div.odd > div {
  background-color: #e0f8f7;
  border: 1px solid #A9E2F3;
}

fieldset.found-golfer div > div.even {
  margin-top: 2px;
}

.triangle-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid var(--common-inactive-color);
  margin-top: 6px;
  margin-right: 5px;
  float: right;
}

.triangle-up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--common-inactive-color);
  margin-top: 6px;
  margin-right: 5px;
  float: right;
}

.triangle {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-top: 6px;
  margin-right: 10px;
  float: right;
}

.up {
  border-bottom: 8px solid var(--common-inactive-color);
}

.down {
  border-top: 8px solid var(--common-inactive-color);
}
