p {
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin: 25px auto;
  color: #dddddd;
}

input[name=username]{
  margin-bottom: 10px;
}

#remember-me {
  margin: 15px;
}

@media screen and (max-width: 757px) {

  .profile-form button:not(.detail-actuator) {
    width: 75%;
  }

}
