<div class="responsive-only">
  <img class="back-arrow" *ngIf="!isDarkMode"
       routerLink="/home" routerLinkActive="active"
       src="https://greentee.info/img/back-arrow-square-black-w-white-bg.png">
  <img class="back-arrow" *ngIf="isDarkMode"
       routerLink="/home" routerLinkActive="active"
       src="https://greentee.info/img/back-arrow-square-white-w-black-bg.png">
  <div class="responsive-title">Sign In</div>
</div>
<section [ngClass]="setLoginContainerClasses()">
  <form autocomplete="off" [ngClass]="setLoginFormClasses()">
    <!--
        <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
    -->
    <p id="sign-in-p">Sign In</p>
    <div style="margin: auto; width: 60%">
      <input [ngClass]="setTextInputClasses()" type="text" placeholder="Username" autocapitalize="none" name="username"
             [(ngModel)]="username" autocomplete="on">
      <input [ngClass]="setTextInputClasses()" type="password" placeholder="Password" autocapitalize="none" name="password"
             [(ngModel)]="password" autocomplete="off">
    </div>
    <div id="remember-me">
      <input type="checkbox" name="rememberMe" [(ngModel)]="rememberMe">
      <label>Remember me</label>
    </div>
    <div class="profile-form-div">
      <button [ngClass]="setSignInButtonClasses()" type="button" (click)="loginUser()">Sign In</button>
    </div>
    <div class="profile-form-div">
      <!--      <button type="button" (click)="showRegisterFreeUserComponent()" value="Subscribe Free Now!">Subscribe Free Now!-->
      <button [ngClass]="setSignInButtonClasses()" type="button" routerLink="../register-free-user" value="Subscribe Free Now!" (click)="showRegisterFreeUserComponent()">
        Subscribe Free Now!
      </button>
    </div>
    <!--      todo: implement this post deploy-->
    <div class="profile-form-div">
      <!--      <button type="button" (click)="showForgotPasswordComponent()">Forgot Password</button>-->
      <!--      <button type="button" (click)="showPasswordResetEmailComponent()">Forgot Password</button>-->
      <button [ngClass]="setSignInButtonClasses()" type="button" routerLink="../forgot-password">Forgot Password</button>
    </div>
    <div class="profile-form-div">
      <!--      <button type="button" (click)="cancel()">Cancel</button>-->
      <button [ngClass]="setSignInButtonClasses()" type="button" routerLink="../home" (click)="cancel()">Cancel</button>
    </div>
  </form>
</section>
