label {
  /*max-width: 100px;*/
  margin-bottom: 0px;
}

form {
  padding: 10px;
}

input[type="radio"], input[type="checkbox"] {
  margin-top: -1px;
  margin-right: 3px;
  vertical-align: middle;
  background-color: transparent;
}

.post-score-toggle {
  max-width: 50%;
  min-width: 45%;
  float: right;
}

.post-score-input-date {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

.post-score-input-2 {
  width: 56px;
  text-align: center;
}

.post-score-input-3 {
  width: 56px;
  text-align: center;
}

.post-score-label {
  min-width: 100px;
  text-align: right;
  padding-right: 5px;
}

input {
  background-color: transparent;
  padding-left: 3px;
  outline: none;
  /*color: green;*/
}

input.is-invalid {
  border: 1px solid red;
  color: red;
}

input.is-valid {
  border: 1px solid green;
  color: green;
}

/*.post-score {*/
/*  margin: 0px;*/
/*}*/

/*.post-score-form {*/
/*  margin: 0px 10px;*/
/*  padding: 10px;*/
/*}*/

/*.post-score fieldset {*/
/*  border: 1px solid black;*/
/*  margin-bottom: 5px;*/
/*}*/

/*.post-score-form input[type=date] {*/
/*  text-align: center;*/
/*  width: 110px;*/
/*}*/

/*.post-score-form input[type=number], .post-score-form input[type=text] {*/
/*  width: 45px;*/
/*  text-align: center;*/
/*}*/

.radio_input_container {
  padding: 7px;
  margin: 12px 20px 5px 0px;
  display: inline-block;
}

.radio_input_container legend {
  margin: 0px 5px 6px 5px;
}

.radio_input_container .radio-label {
  width: 50px;
}

#post_score_button {
  /*width: 50%;*/
  /*height: 75px;*/
  padding: 8px;
  font-size: 125%;
  display: block;
  margin: auto;
  white-space: normal;
}

/*#post_score_div {*/
/*  display: inline-block;*/
/*  min-height: 60px;*/
/*  float: right;*/
/*}*/

#post_score_div_responsive {
  display: none;
}

.gt-form-section {
  display: inline-block;
}

.gt-form-group {
  margin: 10px 0px;
}

@media screen and (max-width: 757px) {

  form {
    padding: 0px;
  }

  .post-score-toggle {
    max-width: 150px;
  }

  .post-score-label {
    display: block;
    text-align: left;
  }

  div.is-valid {
    float: none;
  }

  div.is-invalid {
    float: right;
  }
}
