<button [ngClass]="setDetailActuatorClass()" (click)="togglePostScoreDetailVisible()">
  Post Score
  <div *ngIf="!postScoreDetailVisible" class="triangle down"></div>
  <div *ngIf="postScoreDetailVisible" class="triangle up"></div>
</button>
<div *ngIf="postScoreDetailVisible" [ngClass]="setContainerContainerClass()">
  <div [ngClass]="setDetailContainerClasses()">
    <form [ngClass]="setPostScoreFormClasses()" (ngSubmit)="postScore()">
      <div class="gt-form-section">
        <div class="gt-form-group">
          <label class="post-score-label">Date</label>
          <input [ngClass]="{ 'is-invalid': date_v.invalid, 'is-valid': date_v.valid }"
                 [(ngModel)]="scoreToPost.date" name="date" type="date" value="{ today }"
                 required="required" #date_v="ngModel" min="2020-01-01" max="{ today }">
        </div>
        <div class="gt-form-group">
          <label class="post-score-label">Score</label>
          <input
            [ngClass]="{ 'is-invalid': score_v.invalid || !scoreValid , 'is-valid': score_v.valid && scoreValid, 'post-score-input-2': true }"
            [(ngModel)]="scoreToPost.score" name="score" type="number" (keyup)="inputOnlyIntegerScore($event)"
            min="20" max="199" required="required" pattern="(^\d{2}|\d{3})" #score_v="ngModel">
        </div>
        <div class="gt-form-group">
          <label class="post-score-label">Course Rating</label>
          <input
            [ngClass]="{ 'is-invalid': course_rating_v.invalid || !courseRatingValid, 'is-valid': course_rating_v.valid && courseRatingValid, 'post-score-input-3': true }"
            [(ngModel)]="scoreToPost.course_rating" name="course_rating"
            type="text" title="Please enter a decimal value to one decimal place (e.g. 72.1)."
            pattern="[0-9]{2}.[0-9]{1}" required="required" maxlength="4" (keyup)="inputOnlyCourseRating($event)"
            #course_rating_v="ngModel">
        </div>
        <div class="gt-form-group">
          <label class="post-score-label">Slope Rating</label>
          <input
            [ngClass]="{ 'is-invalid': slope_v.invalid || !slopeValid, 'is-valid': slope_v.valid && slopeValid, 'post-score-input-3': true }"
            [(ngModel)]="scoreToPost.slope" name="slope" type="number" min="27" max="155" required="required"
            maxlength="3" pattern="(^\d{2}|\d{3})" (keyup)="inputOnlyIntegerSlope($event)" #slope_v="ngModel">
<!--          <input [ngClass]="{ 'post-score-input-3': true }" [(ngModel)]="input_value" name="input_value" style="width: 200px">-->
        </div>
      </div>
      <div [ngClass]="{'gt-form-section': true, 'post-score-toggle': true,
        'is-invalid': date_v.invalid || score_v.invalid || !scoreValid || course_rating_v.invalid || slope_v.invalid || !slopeValid,
        'is-valid': date_v.valid && score_v.valid && scoreValid && course_rating_v.valid && slope_v.valid && slopeValid}">
        <label
          *ngIf="date_v.invalid || score_v.invalid || !scoreValid || course_rating_v.invalid || slope_v.invalid || !slopeValid"
          id="post_score_label" style="float: right;">
          Enter a valid score and you will be prompted to "Post" the score to your scoring record.
        </label>
        <!--        <button *ngIf="score_v.valid && course_rating_v.valid && slope_v.valid" id="" type="submit"-->
        <!--                title="">Post Score-->
        <!--        </button>-->
        <input
          *ngIf="date_v.valid && score_v.valid && scoreValid && course_rating_v.valid && slope_v.valid && slopeValid"
          id="post_score_button" [ngClass]="setPostScoreButtonClasses()" type="submit" value="Post Score">
      </div>
      <!--      </div>-->
      <!--            <div>-->
      <div class="gt-form-section">
        <div class="radio_input_container">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="scoreToPost.number_of_holes" name="number_of_holes"
                   type="radio"
                   value="18">
            <label class="form-check-label">18 Holes</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="scoreToPost.number_of_holes" name="number_of_holes"
                   type="radio"
                   value="9">
            <label class="form-check-label">9 Holes</label>
          </div>
        </div>
        <div class="radio_input_container">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="scoreToPost.home_away" name="home_away" type="radio" value="H"
                   checked>
            <label class="form-check-label">Home</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="scoreToPost.home_away" name="home_away" type="radio" value="A">
            <label class="form-check-label">Away</label>
          </div>
        </div>
      </div>
      <!--            </div>-->
      <!--      <div class="gt-form-section form-check form-check-inline">-->
      <!--        <input class="form-check-input" [(ngModel)]="scoreToPost.tournament_score" name="tournament_score"-->
      <div class="gt-form-section">
        <!--        <input class="form-check-input" [(ngModel)]="scoreToPost.tournament_score" name="tournament_score"-->
        <input [(ngModel)]="scoreToPost.tournament_score" name="tournament_score" type="checkbox">
        <!--        <label class="form-check-label"-->
        <label title="Check if the posted score is a tournament score. A &quot;tournament score&quot;
              (T-Score) is a score made in a competition organized and conducted by the Committee in charge of the competition.
              The Committee in charge of the competition must announce in advance that the score is to be designated as a Tournament Score.
              Please note: Not all club competitions qualify to be posted as Tournament Scores.">Tournament score?
        </label>
      </div>
      <input [(ngModel)]="scoreToPost.golfer_id" name="golfer_id" type="hidden">
      <input [(ngModel)]="scoreToPost.post_person_id" name="post_person_id" type="hidden">
      <!--      <div id="post_score_div_responsive">-->
      <!--        <label *ngIf="score_v.invalid || course_rating_v.invalid || slope_v.invalid" id="post_score_label_responsive">Enter-->
      <!--          Score</label>-->
      <!--        <button *ngIf="score_v.valid && course_rating_v.valid && slope_v.valid" id="post_score_button_responsive"-->
      <!--                type="submit" title="">Post Score-->
      <!--        </button>-->
      <!--      </div>-->
    </form>
  </div>
</div>
