<section [ngClass]="setLoginContainerClasses()">
  <app-header [ngClass]="setHeaderClasses()"></app-header>
  <app-login-form *ngIf="loginFormComponentVisible"></app-login-form>
  <app-forgot-password *ngIf="forgotPasswordComponentVisible"></app-forgot-password>
  <app-password-reset-email *ngIf="passwordResetEmailComponentVisible"></app-password-reset-email>
  <app-password-reset-phone *ngIf="passwordResetPhoneComponentVisible"></app-password-reset-phone>
  <app-password-reset *ngIf="passwordResetComponentVisible"></app-password-reset>
  <app-pin-form *ngIf="pinFormComponentVisible" [ngClass]="setAboutClasses()"></app-pin-form>
</section>
