.three_numbers_wide {
    width: 30px;
    margin-right: 4px;
}

.four_numbers_wide {
    width: 40px;
    margin-right: 4px;
}

@media screen and (max-width: 757px) {
    .login-form {
        width: 100%;
    }
}
