#golfer-profile-name-label {
    min-height: 60px;
}

.profile-form input, select {
  margin-bottom: 10px;
}

.detail-actuator {
  margin-top: 10px;
}

.profile-form {
  padding: 20px;
}

.form-largest {
  width: 100%;
  /*font-size: 20px;*/
  /*height: 50px;*/
  padding-left: 12px;
}

.first-name {
  display: inline-block;
  width: 50%;
  padding-right: 2px;
}

.last-name {
  display: inline-block;
  width: 50%;
  padding-left: 2px;
}



@media screen and (max-width: 757px) {

  .profile-form {
    padding: 5px;
  }

  #golfer-profile-name-label {
        min-height: 0px;
    }

}
