<section [ngClass]="setResetPasswordContainerClasses()">
  <form autocomplete="off" [ngClass]="setResetPasswordFormClasses()">
    <input class="form-largest" type="password" placeholder="Enter password" [(ngModel)]="password" name="password"
           autocomplete="off">
    <input class="form-largest" type="password" placeholder="Cofirm password" [(ngModel)]="passwordConfirm"
           name="passwordConfirm" autocomplete="off">
    <div class="profile-form-div">
      <button [ngClass]="setPasswordButtonClasses()" type="button" (click)="resetPassword()">Reset Password</button>
    </div>
    <div class="profile-form-div">
      <button [ngClass]="setPasswordButtonClasses()" type="button" routerLink="login">Cancel</button>
    </div>
  </form>
</section>
