.even_row {
    background: rgba(187, 226, 190, 1);
}

.odd_row {
    background: white;
}

th {
    background-color:  rgba(187, 226, 190, 1);
    font-weight: normal;
}

table.score-table {
    margin: 10px;
    border: 2px solid rgba(127, 166, 130, 1);
}
