<section [ngClass]="setResetPasswordPhoneContainerClasses()">
    <form autocomplete="off" [ngClass]="setResetPasswordPhoneFormClasses()">
        <p>
            Please enter a phone number previously associated with greenTee.info.<br>Note: Must be capable of receiving SMS text messages.
        </p>
        <div>
            <input class="three_numbers_wide reset_password_phone" maxlength="3" pattern="^\d{3}" onkeydown="inputOnlyInteger(event)" tabindex="1" name="area_code" title="Area code" required="required" style="background-image: none" onkeyup="checkFormValidityForSubmit(event)" type="tel"> -
            <input class="three_numbers_wide reset_password_phone" maxlength="3" pattern="^\d{3}" onkeydown="inputOnlyInteger(event)" tabindex="2" name="exchange" title="Exchange" required="required" style="background-image: none" onkeyup="checkFormValidityForSubmit(event)" type="tel"> -
            <input class="four_numbers_wide reset_password_phone" maxlength="4" pattern="^\d{4}" onkeydown="inputOnlyInteger(event)" tabindex="3" name="line_number" title="Line number" required="required" style="background-image: none" onkeyup="checkFormValidityForSubmit(event)" type="tel">
        </div>
        <select name="carrier">
            <option value="txt.att.net">ATT</option>
        </select>
        <input name="type" type="hidden" value="text">
        <button type="button" disabled onclick="initializeResetPassword(event)">Begin Reset Process</button> 
        <button type="button" (click)="cancel()">Cancel</button> 
    </form>
</section>
