<section [ngClass]="setResetPasswordPhoneContainerClasses()">
  <form autocomplete="off" [ngClass]="setResetPasswordPhoneFormClasses()">
    <p style="text-align: center; font-size: x-large;">
      Please enter a phone number previously associated with GreenTee.info.
    </p>
    <p style="text-align: center; font-size: large;">
      Note: Must be capable of receiving SMS text messages.
    </p>
    <div style="width: 265px; margin: 30px auto; overflow: visible;">
      <input class="three_numbers_wide" type="tel" maxlength="3" pattern="^\d{3}"
             (keydown)="inputOnlyInteger($event, 3)" tabindex="1"
             [(ngModel)]="componentForm.phoneNumbers[0].areaCode" (keyup)="checkInputForTab($event)">
      <input class="three_numbers_wide" type="tel" maxlength="3" pattern="^\d{3}"
             (keydown)="inputOnlyInteger($event, 3)" tabindex="2"
             [(ngModel)]="componentForm.phoneNumbers[0].exchange" (keyup)="checkInputForTab($event)">
      <input class="four_numbers_wide" type="tel" maxlength="4" pattern="^\d{4}"
             onkeydown="inputOnlyInteger($event, 4)" tabindex="3"
             [(ngModel)]="componentForm.phoneNumbers[0].lineNumber" onkeyup="checkFormValidityForSubmit(event)">
    </div>
    <input name="type" type="hidden" value="text">
    <input name="email" type="hidden"
           [(ngModel)]="componentForm.phoneNumbers[0].areaCode + componentForm.phoneNumbers[0].exchange + componentForm.phoneNumbers[0].lineNumber">
    <div class="profile-form-div">
      <button type="button" disabled onclick="initializeResetPassword()">Begin Reset Process</button>
    </div>
    <div class="profile-form-div">
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</section>
