/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  display: block;
  /*background-color: #f5f5f5;*/
  /*background-color: darkslategray;*/
  /*background-color: white;*/
  min-width: 364px;
  /*position: fixed;*/
  /*position: relative;*/
  height: 100%;
}

.fullViewContainer {
  display: block;
  margin: auto;
}

@media screen and (max-width: 757px) {
  .fullViewContainer {
    width: 100%;
  }
}

.loginContainer {
  top: 0em;
}
