.topnav button, .golfer-menu button {
  min-width: 150px;
  text-decoration: none;
  margin: 0px 1px;
  border-radius: var(--menu-button-radius);
}

.topnav button {
  height: 40px;
}

.topnav {
  width: 456px;
  margin: auto;
}

div.topnav > div.active {
  display: inline-block;
}

.golfer-menu button {
  margin-top: 2px;
  width: 226px;
  width: 49%;
}

.golfer-menu {
  width: 456px;
  width: 70%;
  margin: auto;
}

.responsive-menu {
  display: none;
}

#privacy-policy-main-menu-button {
  display: none;
}

#login-main-menu-button {
  display: none;
}

#privacy-policy-parent, #login-parent {
  display: none;
}

.topnav > div {
  display: inline-block;
}

@media screen and (max-width: 757px) {

  div.dark-mode, div.dark-mode > div, div.dark-mode > button {
    background-color: black;
    color: white;
  }

  #privacy-policy-main-menu-button.active {
    display: inline-block;
    width: 65%;
    border: none;
    font-weight: 500;
    font-size: 1.5em;
    margin-left: 10px;
  }

  .topnav > div {
    display: none;
  }

  .topnav > div.active {
    display: block;
  }

  #myTopnav {
    display: none;
  }

  #privacy-policy-parent.active, #login-parent.active {
    display: block;
  }

  #privacy-policy-parent {
    top: 0;
    position: fixed;
    opacity: 1;
  }

  /*#privacy-policy-parent, #login-parent {*/
  /*  display: inline-block;*/
  /*}*/
  /*#login-main-menu-button.active {*/
  /*  display: block;*/
  /*}*/
  div.responsive-menu {
    display: inline-block;
    margin: 2px;
    width: 30px;
    background-color: slategrey;
    vertical-align: bottom;
    margin-bottom: 2px;
    border: 1px solid slategrey;
    padding: 5px;
    outline: none;
  }

  div.responsive-menu.active {
    border: 1px solid greenyellow;
  }

  div.responsive-menu > div {
    height: 1px;
    background-color: #f5f5f5;
    margin: 6px auto;
    display: block;
    padding: 0px;
    width: 90%;
  }

  div.responsive-menu.active > div {
    background-color: greenyellow;
  }

  button:not(.active) {
    display: none;
  }

  .golfer-menu button {
    display: inline-block;
  }

  button.responsive-menu {
    display: block;
  }

  .topnav {
    width: calc(1px + 100%);
    /*margin: 20px 0 0;*/
  }

  .topnav button {
    height: 29px;
    /*width: calc(-64px + 100%);*/
    width: 100%;
    padding: 5px 0px;
    border-radius: 0px;
    margin: 2px auto;
  }

  .topnav button.active {
    border-bottom: none;
    /*margin: 25px auto 10px;*/
    display: block;
    text-align: left;
    padding: 0 0 0 20px;
    height: 35px;
    font-size: 18pt;
    font-weight: 500;
    top: 0;
    position: fixed;
  }

  div > div {
    display: none;
  }

  div.active > div {
    display: inline-block;
    vertical-align: top;
    font-size: 18pt;
    border: none;
    /*color: black;*/
    background: transparent;
    margin: 2px 15px;
  }

  .topnav button:not(.active) {
    border: none;
    height: 3em;
    margin-top: 15px;
  }

  .topnav button, .golfer-menu button {
    border: none;
  }

  .topnav > div {
    /*display: block;*/
    width: 100%;
    /*height: 40px;*/
  }

  .topnav > div:not(.active) {
    display: none;
  }

  .golfer-menu button {
    width: calc(50% - 2px);
  }

  .golfer-menu {
    width: 100%;
  }

  img {
    height: 25px;
    margin: 5px 10px;
  }

  #home-main-menu-button {
    display: none;
  }

}

div.active {
  padding: 0;
}

div.responsive-menu button {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px 0px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid rgba(187, 255, 190, 1);
  margin-top: -12px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid rgba(187, 255, 190, 1);
  margin-top: -12px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid rgba(187, 255, 190, 1);
  margin-top: -12px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-right: 5px solid rgba(187, 255, 190, 1);
  margin-top: -12px;
  margin-bottom: 7px;
  margin-left: 10px;
}
