<div class="topnav" id="myTopnav">
    <div class="responsive-menu" (click)="showResponsiveMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <button [ngClass]="setHomeButtonClasses()" (click)="showHomeComponent()">Home<div [ngClass]="setArrowClasses()"></div></button>
    <button *ngIf="appUser.userLevel>0" [ngClass]="setGolferButtonClasses()" (click)="showGolferComponent()">Golfer</button>
    <button *ngIf="appUser.userLevel>0" [ngClass]="setClubAdminButtonClasses()" (click)="showClubAdminComponent()">Club Admin</button>
    <button *ngIf="appUser.userLevel>0" [ngClass]="setAdminButtonClasses()" (click)="showAdminComponent()">Admin</button>
    <button [ngClass]="setAboutButtonClasses()" (click)="showAboutComponent()">About</button>
</div>
